<html lang="gr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ανάκτηση Δεδομένων</title>
</head>
<body>
    <p class="title animateDown">Εργασια ανακτησης δεδομενων </p>
    <div class="container">
        <div id="mainCard" class="card">
            <form action="/">
                <textarea class="textbox" type="text" placeholder="Query..." name="query"></textarea>
                <div class="radios">
                    <div class="elasticOption">
                        <p>Elastic</p>
                        <input type="radio" name="isElastic">
                    </div>
                    <div class="elasticOption">
                        <p>Embedding</p>
                        <input type="radio" name="isElastic">
                    </div>
                    
                </div>
                <button class="submit">Get documents</button>
                <!-- <ol class="ordList"></ol> -->
            </form>
        </div>
        <button class="closed">X</button>
        <div class="card results">efao aojf e
            <div class="banner">e</div>
        </div>
    </div>
    <script src="static/index.js"></script>

</body>
</html>